<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Bem-vindo ao Guia de Perguntas</h1>
    </header>
    <main>
        <h2>Minha Lista de Perguntas</h2>

        <p>Nome: <%= nome %>
        </p>
        <p>Disciplina: <%= disciplina %>
        </p>
        <p>Empresa: <%= empresa %>
        </p>
        <p>Alunos: <%= alunos %>
        </p>

        <% if(msg==true) { %>
            <h3>Isso é uma mensagem de erro!</h3>
        <%}%>

        <% produtos.forEach(function(produto) {%>
            <%= produto.nome %>
            <%= produto.preco %>
        <%})%>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </main>
</body>

</html>