<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleNavBar.css">
</head>

<body>
    <main>
        <%- include('partials/dialogs/pergunta.ejs') %>
        <%- include('partials/dialogs/login.ejs') %>
        <%- include('partials/dialogs/cadastroPergunta.ejs') %>
        <%- include('partials/dialogs/cadastroResposta.ejs') %>
        <%- include('partials/navbar.ejs') %>

            <menu>
                <section class="card-pergunta">
                    <div class="titulo-pergunta">O que é TCC?</div>
                    <p class="conteudo">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo
                        utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os
                        embaralhou para fazer um livro de modelos de tipos.
                    </p>
                    <span class="categoria">TCC</span>
                    <a href="#" class="comentarios">0 Comentários</a>
                </section>
            </menu>
    </main>
</body>
<script>
    let logado=false;
    (function () {
        var cardPergunta = document.querySelector(".card-pergunta");
        var botaoCancelar = document.getElementById("fechar");
        var dialogPergunta = document.getElementById("dialogPergunta");

        cardPergunta.addEventListener("click", function () {
            dialogPergunta.showModal();
        });

        botaoCancelar.addEventListener("click", function () {
            dialogPergunta.close();
        });
    })();

    //---constantes modal formulário login----------
    // const openModalButtonLogin = document.getElementById('openModalButtonLogin');
    const closeModalButtonsLogin = document.querySelectorAll('.close-button-login');
    const loginModal = document.getElementById('loginModal');

    //-----constantes modal formulário pergunta----------
    const openModalButtonPergunta = document.getElementById('openModalButtonPergunta');
    const closeModalButtons = document.querySelectorAll('.close-buttons');
    const PerguntaModal = document.getElementById('PerguntaModal');

    //-----constantes modal formulário resposta----------
    const openModalButtonResposta = document.getElementById('adicionarResposta');
    const closeModalButtonsResposta = document.querySelectorAll('.close-buttons');
    const RespostaModal = document.getElementById('RespostaModal');

    /*  openModalButtonLogin.addEventListener('click', () => {
        if(logado==false){
            loginModal.showModal();
        }else{
        }
    }); */
   // Função para redefinir o formulário(apaga os dados sempre que fechar o forms)
   function resetForm(modal) {
        const form = modal.querySelector('form');
        if (form) {
            form.reset();
        }
    }

    //FUnçao que verifica se o usuario está logado
    function verificarLogin(){
        if(logado==false){
            loginModal.showModal();
        }else{
        }
    }
 

    closeModalButtonsLogin.forEach(button=> {
        button.addEventListener('click',()=>{
            logado=true;
            loginModal.close();
            resetForm(loginModal);
        })
    })

    //funções modal formulário de Resposta
    openModalButtonResposta.addEventListener('click', () => {
        verificarLogin();
        RespostaModal.showModal();
    });

 
    
    closeModalButtonsResposta.forEach(button=> {
        button.addEventListener('click',()=>{
            RespostaModal.close();
            resetForm(RespostaModal);
        })
    })

        //funções modal formulário pergunta

        openModalButtonPergunta.addEventListener('click', () => {
            PerguntaModal.showModal();
        });

        closeModalButtons.forEach(button=> {
            button.addEventListener('click',()=>{
                PerguntaModal.close();
                resetForm(PerguntaModal);
            })
        })

</script>

</html>